@define-color bg #1e2125;
@define-color fg #f0e9ec;
@define-color gray1 #B4756B;
@define-color gray2 #897981;
@define-color gray3 #9B826B;
@define-color gray4 #C17A6A;
@define-color gray5 #B48162;
@define-color fg_bright #f0e9ec;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}